---
---
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="{{ site.data.cv_en.name }} (Curriculum Vitae)" />
		<meta name="keywords" content="{{ site.data.cv_en.keywords }}" />
		<title>{{ site.data.cv_en.name }}</title>
		<link href="../css/style.css" rel="stylesheet" />
	</head>
	<body>
		<div id="page">
			<div id="header">
				<div class="container">
					<h1>{{ site.data.cv_en.name }}</h1>
					<h2>{{ site.data.cv_en.title }}</h2>
				</div>
			</div>
			<div id="content">
				<div class="container">
					<div id="main">
						<h2 id="profile">Profile</h2>
						<p>{{ site.data.cv_en.profile }}</p>
						<!--
						<h2 id="motivations">Motivations</h2>
						<dl>
							{% for motivation in site.data.cv_en.motivations %}
							<dt>{{ motivation.verb }}</dt>
							<dd>{{ motivation.rest }}</dd>
							{% endfor %}
						</dl>
						-->
						<h2 id="experience">Work experience</h2>
						{% for experience in site.data.cv_en.experiences %}
						<h3><span class="function">{{ experience.function }} @ <a href="{{ experience.company_url }}">{{ experience.company }}</a></span> <span class="date">[{{ experience.start_date }}&mdash;{{ experience.end_date | default: 'today' }}]</span></h3>
						<dl>
							{% for project in experience.projects %}
							{% if project.url == nil %}
							<dt>{{ project.name }}</dt>
							{% else %}
							<dt><a href="{{ project.url }}">{{ project.name }}</a></dt>
							{% endif %}
							<dd>
								<ul>
									<li>{{ project.description }}</li>
									<li>{{ project.role }}</li>
									<li>{{ project.technologies }}</li>
								</ul>
							</dd>
							{% endfor %}
						</dl>
						{% endfor %}
						<h2 id="studies">Education</h2>
						{% for study in site.data.cv_en.studies %}
						<h3><span class="school"><a href="{{ study.school_url }}">{{ study.school }}</a>{% if study.faculty %} (<a href="{{ study.faculty_url }}">{{ study.faculty }}</a>){% endif %}</span></h3>
						<dl>
							{% for degree in study.degrees %}
							<dt>{{ degree.start_date }}{% if degree.end_date != nil %}&mdash;{{ degree.end_date}}{% endif %}</dt>
							{% if degree.url == nil %}
							<dd>{{ degree.title }}</dd>
							{% else %}
							<dd><a href="{{ degree.url }}">{{ degree.title }}</a></dd>
							{% endif %}
							{% endfor %}
						</dl>
						{% endfor %}
						<!--
						<h2 id="competitions">Compétitions</h2>
						{% for competition in site.data.cv_en.competitions %}
						<h3><span class="competition"><a href="{{ competition.url }}">{{ competition.name }}</a></span> <span class="date">[{{ competition.start_date }}&mdash;{{ competition.end_date }}]</span></h3>
						<dl>
							{% for achievement in competition.achievements %}
							<dt>{{ achievement.rank }}</dt>
							<dd>{{ achievement.title }}</dd>
							{% endfor %}
						</dl>
						{% endfor %}
						<h2 id="languages">Languages</h2>
						<dl>
							{% for language in site.data.cv_en.languages %}
							<dt>{{ language.name }}</dt>
							<dd>{{ language.level }}</dd>
							{% endfor %}
						</dl>
                                                -->
						<h2 id="it">Skills<span class="legend"><span class="expert">expert</span> <span class="advanced">advanced</span> <span class="novice">novice</span></span></h2>
						<dl id="skills">
							{% for skill in site.data.cv_en.skills %}
							<dt>{{ skill.group }}</dt>
							<dd>
								<ul>
									{% for item in skill.items %}
									{% if item.abbr == nil %}
									<li class="{{ item.level }}">{{ item.name }}</li>
									{% else %}
									<li class="{{ item.level }}"><abbr title="{{ item.abbr }}">{{ item.name }}</abbr></li>
									{% endif %}
									{% endfor %}
								</ul>
							</dd>
							{% endfor %}
						</dl>
					</div>
					<div id="aside">
						{% for meta in site.data.cv_en.meta %}
						<h2>{{ meta.name }}</h2>
						<ul>
							{% for item in meta.items %}
							{% if item.url == nil %}
							<li>{{ item.title }}</li>
							{% else %}
							<li><a href="{{ item.url }}">{{ item.title }}</a></li>
							{% endif %}
							{% endfor %}
						</ul>
						{% endfor %}
					</div>
				</div>
			</div>
			<div id="footer">
				<div class="container">&copy; {{ site.data.cv_en.inception_year }}&mdash;{{ site.time | date: '%Y' }} {{ site.data.cv_en.name }}</div>
			</div>
		</div>
	</body>
</html>
